flows (5).json
[
    {
        "id": "da182025.06223",
        "type": "tab",
        "label": "U1P2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8a2b1c1b.2297a",
        "type": "mqtt in",
        "z": "da182025.06223",
        "name": "",
        "topic": "/feeds/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "958ad0bb.31953",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "febd3cfd.1895e",
                "ad6698be.972a68",
                "31fe1926.aa6c06"
            ]
        ]
    },
    {
        "id": "febd3cfd.1895e",
        "type": "debug",
        "z": "da182025.06223",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "ad6698be.972a68",
        "type": "ui_gauge",
        "z": "da182025.06223",
        "name": "",
        "group": "e42e6f04.920f8",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Temperatura actual",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#2df0d0",
            "#7363c5",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 220,
        "wires": []
    },
    {
        "id": "31fe1926.aa6c06",
        "type": "switch",
        "z": "da182025.06223",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "30",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "25",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 130,
        "y": 300,
        "wires": [
            [
                "7c27d23.cd4e62c"
            ],
            [
                "da9dca0a.a0a798"
            ],
            [
                "7fd5be5c.fbda4"
            ]
        ]
    },
    {
        "id": "e3aedfb7.d1b9f",
        "type": "ui_text",
        "z": "da182025.06223",
        "group": "e42e6f04.920f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "7c27d23.cd4e62c",
        "type": "change",
        "z": "da182025.06223",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Alta | Hidrátate",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 280,
        "wires": [
            [
                "1d784aec.4c5d25"
            ]
        ]
    },
    {
        "id": "4c5347e8.d70d28",
        "type": "e-mail",
        "z": "da182025.06223",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": false,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "mihermeza@gmail.com",
        "dname": "",
        "x": 710,
        "y": 440,
        "wires": []
    },
    {
        "id": "d0f79bf5.1f55c8",
        "type": "debug",
        "z": "da182025.06223",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "da9dca0a.a0a798",
        "type": "change",
        "z": "da182025.06223",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Baja | Usa suéter",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 320,
        "wires": [
            [
                "1d784aec.4c5d25"
            ]
        ]
    },
    {
        "id": "7fd5be5c.fbda4",
        "type": "change",
        "z": "da182025.06223",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Normal | No hay problema",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 360,
        "wires": [
            [
                "1d784aec.4c5d25"
            ]
        ]
    },
    {
        "id": "1d784aec.4c5d25",
        "type": "rbe",
        "z": "da182025.06223",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 550,
        "y": 320,
        "wires": [
            [
                "e3aedfb7.d1b9f",
                "4c5347e8.d70d28",
                "d0f79bf5.1f55c8"
            ]
        ]
    },
    {
        "id": "958ad0bb.31953",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.10",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e42e6f04.920f8",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "85a8bca768579b83",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "85a8bca768579b83",
        "type": "ui_tab",
        "name": "U1P2",
        "icon": "fa-thermometer-full",
        "order": 8,
        "disabled": false,
        "hidden": false
    }
]